.image img, img {
    object-fit: cover;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

.image.is-64x64 img {
    width: 64px;
    height: 64px;
}

.image.is-128x128 img {
    width: 128px;
    height: 128px;
}